$img1: url('../img/keyboard.jpg');
$secondary-color: #fafcff;
$grey: #999;
$yellow: #ffe600;


* {
    margin: 0;
    padding: 0;
}


body {
    @include font-style(2px);
}


.bg-color {
    background-color: $secondary-color;
}


.dotted-bottom {
    border-bottom: 1px dotted $grey;
}


.bottom-line {
    height: 6px;
    background: $yellow;
    
}


